.col_5 {
    float: left;
    width: 5%;
    margin-top: 6px;
    padding: 6px;
}

.col_25 {
    float: left;
    width: 25%;
    margin-top: 6px;
    padding: 6px;
}

.col_50 {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 6px;
}

.col_75 {
    float: left;
    width: 75%;
    margin-top: 6px;
    padding: 6px;
}

.col_100 {
    float: left;
    width: 100%;
    margin-top: 6px;
    padding: 6px;
}

.container {
    width: 100%;
    padding: 18px;
}

.coupon_textbox {
    border: 0px none;
}

.coupon_container {
    border-width:2px;
    border-style:solid;
    border-color:black;
    
}