.card {
    box-shadow: 0 0 3px rgb(0, 0, 0, 0.1);
    max-width: 90vw;
}

.title {
    font-family: 'Helvetica', Arial, sans-serif;
    font-size: 2em;
    align-content: center;
    align-items: center;
    text-align: center;
}

.content {
    font-family: "Arial Black", Arial, sans-serif;
    font-size: 2em;
    padding: 10px;
    align-content: center;
    align-items: center;
    text-align: center;
    background: #fafafa;
}

/* Desktop menu */
@media all and (min-width: 960px) {
    .content {
        max-width: unset;
    }
}
