.about {
    margin: 0;
    height: 100%;
}
.about .heading {
    font-size: 50px;
    font-family: Brush Script MT, Brush Script Std, cursive;
    color: brown;
    text-align: center;
    padding: 24px;
}

.about .wrapper {
    height: 100vh;
    background: -moz-linear-gradient(45deg, rgba(213, 15, 61, 0.7), rgba(10, 198, 168, 0.4) 100%);
    background: -webkit-linear-gradient(45deg, rgba(213, 15, 61, 0.7), rgba(10, 198, 168, 0.4) 100%);
}

.about h2 {
    color: #adff6e;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 28px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    margin: 24px;
}


.about p {
    color: #ffffff;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    line-height: 32px;
    text-align: justify-all;
    margin: 24px;
}

.about ul {
    margin: 24px 0 0 50px;
}
.about ul li {
    color: #ffffff;
    font-size: large;
}

.about ul li:before { margin-left: -20px; margin-right: 10px; }

.about {
    min-height: 100vh;
    background-image: url("../../assets/images/islands.png");
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat; background-size: cover;
}
