form {border: 3px solid #f1f1f1;}

.container input[type=text], input[type=password], input[type=date], input[type=number], input[type=file], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  height: 40px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.container button {
  background-color: #04AA6D;
  margin: 0px;
  /* color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none; */
  /* width: 100%; */
}

.container button:hover {
  opacity: 0.8;
}

.container {
  padding: 16px;
  width: 50%;
  position: absolute;
  top:15%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

span.psw {
  float: right;
  padding-top: 16px;
}

.col_25 {
  float: left;
  width: 25%;
  margin-top: 6px;
  padding: 6px;
}

.col_50 {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 6px;
}

.col_75 {
  float: left;
  width: 75%;
  margin-top: 6px;
  padding: 6px;
}

.col_100 {
  float: left;
  width: 100%;
  margin-top: 6px;
  padding: 6px;
}

.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
}

.red {
  background-color: #f44336;
}

.green {
  background-color: #1d7902;
}

.error {
  color: #f44336;
}

input {
  text-transform: uppercase;
}
