li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

nav {
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: space-between;
    min-height: 10vh;
    align-items: center;
    color: white;
    background: #6200EE;
    box-shadow: 0 0 25px 0 black;
}

nav .logo {
    font-size: 30px;
    text-transform: uppercase;
}

nav .nav-links {
    display: flex;
    justify-content: space-around;
    width: 50%;
}

nav .nav-links a {
    font-size: 18px;
    cursor: pointer;
}


nav li .nav-wrapper {
    position: relative;
    display: block;
}

nav .nav-links a:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: red;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s;
}

nav .nav-links a:hover:after {
    transform-origin: bottom left;
    transform: scaleX(1);
}

@media screen and (max-width: 1220px) {
    nav li {display: none;}
}
